* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Times New Roman", Times, serif;
}
.main {
  width: 1000px;
  height: 100vh;
  background-color: rgb(249, 249, 239);
  margin-left: 30px;
}
h1 {
  color: blue;
  padding-top: 20px;
}

.nav h2 {
  padding-top: 20px;
  text-align: center;
}

.nav p,
h1 {
  text-align: center;
}
li {
  list-style-type: none;
}
